img {
    max-height: 100px;
    max-width: 100px;
    // width: 120px;
    margin-right: 20px;
    // margin-top: 10px;
}

span {
    // padding: 10px;
    margin: 5px;
}
button {
    margin-top: 10px;
    // margin-bottom: 10px;
}
label {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
    margin-top: 10px;
}
input {
    margin-top: 10px;
    margin-bottom: 10px;
}