<nav class="navbar bg-primary">
    <h1>Welcome {{name}}</h1>
    
    <ul>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'home']">Home</a>         
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'companies']">Companies</a>         
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/admin', 'customers']">Customers</a>   
        </li>
        <li>
            <a href='#' (click)="logout($event)">Logout</a>
        </li>
    </ul>
</nav>
<div class="container">
    <app-alert></app-alert>
    <router-outlet></router-outlet>
</div>