img {
    max-height: 100px;
    max-width: 100px;
    // width: 120px;
    margin-right: 20px;
}

.container {
    max-width: 700px;
}

.card button {
    float: right;
    // vertical-align: middle;
}

.card > *{
    display: inline-block;
}

span {
    font-size: 1.4rem;
    // display: inline;
    // padding: 10px;
}

input {
    margin-top: 10px;
}

input[type=number]{
    width: 70px;
} 

select{
    width: 243px;
} 

.filter > *{
    display: inline-block;
    margin-top: 15px;
}

.title {
    word-wrap: break-word;
    width: 383px;
 }