<div class="container">
    <a [routerLink]="['/admin/customers']"><button class="btn btn-dark">Back</button></a>
    <form class="card" [formGroup]="form" (ngSubmit)="submit()">
        <h2>Register new customer</h2>

        <div class="form-control">
            <label>First name</label>
            <input type="text" placeholder="First name" formControlName="firstName">
            <div class="validation" *ngIf="form.get('firstName').invalid && form.get('firstName').touched">
                <small>First name is required</small>
            </div>
        </div>

        <div class="form-control">
            <label>Last name</label>
            <input type="text" placeholder="Last name" formControlName="lastName">
            <div class="validation" *ngIf="form.get('lastName').invalid && form.get('lastName').touched">
                <small>Last name is required</small>
            </div>
        </div>

        <!-- for errors debugging -->
        <!-- <pre>{{form.get('email').errors | json}}</pre> -->
        <div class="form-control">
            <label>Customer email</label>
            <input type="email" placeholder="Customer email" formControlName="email">
            <div class="validation" *ngIf="form.get('email').invalid && form.get('email').touched">
                <small *ngIf="form.get('email').errors.required">Email is required</small>
                <small *ngIf="form.get('email').errors.email">Email must be valid</small>
            </div>
        </div>

        <!-- errors debugging -->
        <!-- <pre>{{form.get('password').errors | json}}</pre> -->
        <div class="form-control">
            <label>Customer password</label>
            <input type="password" placeholder="Customer password" formControlName="password">
            <div class="validation" *ngIf="form.get('password').invalid && form.get('password').touched">
                <small *ngIf="form.get('password').errors.required">Password is required</small>
                <small *ngIf="form.get('password').errors.minlength">
                    Password should be at least {{form.get('password').errors.minlength.requiredLength}} characters long, 
                    now it is {{form.get('password').errors.minlength.actualLength}} characters long
                </small>
            </div>
        </div>

        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Add new customer</button>
        <button class="btn btn-dark" type="button" (click)="formReset()">Clear all fields</button>

    </form>
</div>