input {
    &.ng-invalid.ng-touched{
        border: 1px solid red;
    }
    &.ng-valid.ng-touched{
        border: 1px solid green;
    }
}

select {
    &.ng-invalid.ng-touched{
        border: 1px solid red;
    }
    &.ng-valid.ng-touched{
        border: 1px solid green;
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
}