.container {
    max-width: 600px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    padding: 2rem;
    // width: 50rem;
    // display: block;
}

button {
    font-size: 1.5rem;
    // margin: 1rem; 
}